<div class="card" style="width: 18rem;">
  <img src="{{ hero.image }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ hero.name|title}}</h5>
    <p class="card-text">{{ hero.description }}
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ hero.super_power }}</li>
    <li class="list-group-item">{{ hero.comics_appeared_in }}</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>